
.ctg {
margin: 10px 0;
color: white;
text-align: center;
font-size: 20px;
}

.cardCtg{
    margin: 0 20px;
    height: 300px;
}

.cardCtg img{
    width: 200px;
   height: 250px;
}

.ctgItemName{
    color: white;
    text-align: center;
}


.ctgItemName:hover{
    color: rgb(157, 157, 157);
}


.ctgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}